* {
	margin: 0;
	padding: 0;
	font-family: Calibri, Tahoma, sans-serif;
	font-size: 10pt;
	color: #555;
}

h1 {
	font-size: 200%;
	margin: 20px 0px;
	color: #F93;
}

input, textarea, select {
	padding: 2px;
	border: 1px solid #999;
}

label {
	margin-top: 6px;
	display: block;
}

form p {
	margin: 10px;
}

/* Containers */

div#container {
	margin: 20px;
}